{% extends 'pas.html' %}
{% load static %}

{% block content %}
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <form action="{% url 'index' %}"  method="get" >
                        <input class="input" type="text" name="newnode"><hr>
                        <input class="input" type="text" name="g"><hr>
                        <input class="input" type="text" name="toldnode"><hr> 
                        <input class="input" type="text" name="h" ><hr>
                        <input type="submit" class="newsletter-btn">
                        {{ noexs }}<hr>
                        {{C}} to 
                        {{D}}<hr>
                        
                        <h2>min of total heuristic_value : {{HE}}<hr></h2>
                        <h2>total min cost : {{CO}}<hr><hr><hr></h2>
                        <h2>straight_line {{add}}<hr></h2>
                        <h2>GRAPH <hr></h2>

                        {% for x in Q %}

                                {{x}}<hr>
                
                        {% endfor  %}
                    </form>
                </div>             
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- /NEWSLETTER -->
<!--<form action="{% url 'Hot' %}"  method="get" >
<h1> Enter country </h1>
<input type="text" name="country">
<hr>

<input type="text" name="dest">
<hr>
 {{ my }}<hr>
                {{C}} to 
                {{D}}<hr>
                {% for x in Q %}
                {% if x != 0 %}
                {{x}}<hr>
                {% endif  %}
                {% endfor  %}
                min of total heuristic_value  {{HE}}<hr>
                total min cost  {{CO}}<hr>
                <h1> Enter Destination </h1>
<input type="submit">-->
</form>
{% endblock %}